*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* header start hear */

nav {
	color: #fff;
	display: flex;
	justify-content: space-between;
	background-color: #333333;
	padding: 12px 24px;
}
header ul {
	list-style: none;
	display: flex;
}
#logo{
    align-content: center;
    margin-left: 24px;
    font-size: 24px;
}

#menue{
    align-content: center;
}
#menue li a {
    font-size: 1rem;
	color: #fff;
	text-decoration: none;
}
#menue li a:hover{
    color: #ff0066;
}
#menue li{
    padding: 12px 24px;
}
#Home{
    color: #ff0066 !important;
}

.banner{
    background-image: url('/software-developer-6521720_1280.jpg');
    /* filter: contrast(40%); */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    clip-path: circle(71.1% at 64% 0);
    background-color: #333333;
    position: relative;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff;
}
h1 {
	font-size: 5rem;
	font-weight: 400;
	text-align: center;
}
.banner-content p{
    font-size: 28px;
    text-align: center;
    margin: 10px 0px;
}
.r-button {
	text-align: center;
	color: #fff;
	text-decoration: none;
	padding: 12px 42px;
	background-color: #ff0066;
	border: 1px solid #ff0066;
	border-radius: 4px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}
.r-button:hover{
    color: #000;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    transition: all 0.8s ease-in-out;
}
.about-page {
	background: #333333;
	display: flex;
	align-items: center;
	padding: 64px 16px;
    justify-content: space-around;
}
.about-image{
    padding: 32px 16px;
    width: 39.99%;
    position: relative;
}
.about-content{
    padding: 32px 16px;
    width: 39.99%;
}
.about-image img{
	width: 100%;
	border: 24px solid #ff0066;
	border-radius: 50px;
	box-shadow: 0 0 20px 20px black;
}
.about-image p {
	background: #ff0066;
	width: 20%;
	padding: 12px 24px;
	text-align: center;
    position: absolute;
    top: 42%;
    left: 16px;
    color: #fff;
}
.about-content p {
	color: #ccc;
	margin: 42px 0;
    letter-spacing: 2px;
}
h2 {
	color: #fff;
    font-size: 42px;
    font-weight: 400;
	/* margin: 32px 0; */
}
.upper-line::before {
    display: block;
    content: "";
    width: 100px;
    background-color: #ff0066;
    height: 4px;
    margin-bottom: 16px;
}


.service-page{
        padding: 32px 0;
        color: #fff;
        max-width: 1140px;
        margin: auto;
    }
.servi{
    background: #333333;
}
.service-page p{
    color: #ccc;

}
.our-services {
	color:#333333;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 72px 0px;
    grid-gap: 32px;
}
.bg-fff {
	background: #fff;
	padding: 100px 40px 20px;
    border-radius: 16px;
    position: relative;
    margin-top: 64px;
    letter-spacing: 1px;
}
.bg-fff p{
    color: #333333;
    line-height: 30px;

}
.bg-fff h4{
    color: #333333;
    font-size: 24px;
    font-weight: 400;
}
.bg-fff i {
	font-size: 48px;
	color: #fff;
	padding: 32px;
	background-color: #ff0066;
	border: 1px solid #ff0066;
	border-radius: 50%;
    position: absolute;
    top: -62px;
    left: 10%;
    box-shadow: 0px 30px 30px -15px rgba(0, 0, 0, 0.75)
}
.score-bord{
    background-image: url('/count-bg.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    padding: 32px 0px;
}
.score-row {
	display: flex;
	justify-content: space-evenly;
}
.progress {
	padding: 54px;
	border: 8px solid #333333;
	border-radius: 50%;
}
.prototype {
	text-align: center;
}
.prototype h6{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    margin-top: 24px;
}

/* Project page */

.latest_project{
    background-color: #333333;
    padding: 150px 0px;
}
.latest_project h2{
    margin-bottom: 32px;
}
.container{
    max-width: 82%;
    margin: auto;
}
.project-row{
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
}
.project-image {
	width: 30%;
    /* padding: 12px; */
    position: relative;
}
.project-image img{
    width: 100%;
    height: 100%;
}
.hover-content {
    text-align: center;
    align-items: center;
    align-content: center;
	color: #fff;
	background-color: #ff0066;
	height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
	opacity: 0;
    line-height: 2.5;
}
.project-image:hover{
    cursor: pointer;
    .hover-content{
        transition: 2s;
        opacity: 1;
    }
}
.hover-content h5{
    font-size: 18px;
    font-weight: 400;
}
.hover-content i{
    height: 42px ;
    width: 42px;
    background-color: #fff;
    color: #ff0066;
    border: 1px solid #fff;
    border-radius: 50%;
    align-items: center;
    align-content: center;
}


/* fetured page */

.fetured{
    background-image: url('/project-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 74px 0;
    line-height: 2;
}
.fetured h2{
    color: #333333;
    margin: 0px;
}
.fetured p{
    margin: 16px 0px;
}

/* feed back page */

.feedback {
	background-color: #333333;
	color: #fff;
    padding: 72px 0px;
}
.feedback h2{
    margin:0px;
}
.feedback p{
    margin:30px 0;
}
.our-customer{
    display: flex;
    gap: 24px;
}
.reviews {
	width: 30.33%;
	padding: 28px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    color: #000;
}
.reviews img{
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0px 30px 30px -15px rgba(0, 0, 0, 0.35);
}
.reviews h6 {
    margin-top:12px;
	font-size: 16px;
	color: #ff0066;
	font-weight: 500;
}
.reviews p{
    margin: 10px 0px;
    color: #333333;
    font-size: 15px;
}
.fa-quote-left{
    font-size: 48px;
    color: #333333;
    margin-bottom: 10px;
}
.fa-star{
    color: #ff0066;
}
.arrow-lr {
	margin-top: 24px;
	text-align: center;
    word-spacing: 10px;
}
.arrow-lr i {
	color: #ff0066;
	font-size: 20px;
	padding: 12px;
	background: #fff;
	font-weight: bold;
	border: 1px solid #fff;
	border-radius: 8px;
}
.arrow-lr i:hover{
    cursor: pointer;
    border: 1px solid #ff0066;
    color: #fff;
    background-color: #ff0066;
}

/* Blog page */

.persent-blog{
    background-color: #333333;
    color: #fff;
}
.blog-content {
    position: relative;
	width: 32%;
    line-height: 1.8;
    height: max-content;
}
.blog-content img{
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
.blog-image {
	display: flex;
	gap: 32px;
    padding: 64px 0px;
}
.blog-content h6 {
	font-size: 15px;
	font-weight: 400;
	color: gray;
}
.blog-content pre {
	color: #000;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
}
.blog-content h5 {
	font-size: 18px;
	font-weight: 600;
	width: 62%;
}
.blog-content p {
	font-size: 15px;
	color: gray;
}
.blog-content:hover h5{
    color: #ff0066;
}

.blog-content .blog-overlay {
    position: relative;
	position: absolute;
	top: 0;
	width: 100%;
	height: 49.5%;
	background: rgba(255, 0, 102, 0.5);
	transition: all 0.4s ease-out 0s;
	opacity: 0;
    border-radius: 12px;
}
.blog-content.blog-overlay a {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 30px;
}
.blog-content:hover .blog-overlay{
	opacity: 1;
}
.blog-overlay a {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	font-weight: bolder;
}



.subscribe {
    text-align: center;
    width: 100%;
    padding: 64px 0px;
    line-height: 2;
}
.subscribe h2 {
	color: #000;
	font-size: 48px;
	font-weight: 400;
	text-align: center;
}
.subscribe p{
    font-size: 18px;
}
#check{
    margin-right: 8px;
    margin-bottom: 32px;
}
#email {
	padding: 16px;
	width: 50%;
	background-color: #333333;
	color: #fff;
	border: 1px solid #ff0066;
}
#email:focus-visible {
	background-color: #ccc;
	border: 1px solid #fff;
}
#email:focus::placeholder{
    color: #000;

}
.form-map{
    display: flex;
}
.subscribe button {
	padding: 16px;
	background-color: #ff0066;
	color: #fff;
	margin-left: -12px;
	border: 1px solid #ff0066;
}
.get-in {
	background: #333333;
	padding: 64px 0;
}
.get-in form {
	align-content: center;
	width: 64%;
	padding: 12px 24px;
}
.map{
    width: 35%;
    padding: 12px 24px;
}
.map iframe{
    width: 100%;
    height: 75vh;
}
.get-in input {
    color: #fff;
    background-color: #333333;
	padding: 16px;
	width: 41.7%;
	margin: 16px 0;
    margin-right: 16px;
}
input::placeholder{
    color: #fff;
}
textarea {
	color: #fff;
	background: #333333;
	width: 93%;
    padding: 12px;
    margin-top: 16px ;
    margin-right: 16px;
}
textarea::placeholder{
    color: #fff;
}

.get-in .r-button{
    margin-top: 24px;
}


/* foooter */

footer{
    background-color: #000;
    color: #fff;
    padding: 100px 0;
    text-align:  center;
}
footer a{
    text-decoration: none;
    color: #fff;
}
.links-icons {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.icons a {
	padding: 12px;
	border-radius: 50%;
	border: 1px solid #fff;
    margin-left: 12px;
}
.icons a:hover {
	color: #fff;
	background: #ff0066;
}
.icons i{
    height: 20px ;
    width: 20px;
}
.logo-footer{
    font-size: 32px;
}
.link a{
    margin-right: 12px;
}
hr{
    margin: 64px 0px;
}